<div class='view-aboutus'>
	<div class="page-head row">
		
	</div>
	<div id='overlay'>
		
	</div>
	<div class='content'>
		<div class="menu-icon1 header-back-btn">
			<img src="img/back-button.svg"><span>About Us</span>
		</div>
	</div>
	<div class="contact-details">
		<div class='head'>
			<h4>Christ Church Ministries</h4>
		</div>
		<div class='aboutus'>
			<p>We are a nondenominational church ministry spreading the word of God around the globe freely by the authority 
			of heaven provided by our Lord Jesus Christ (Mathew 28:18) for the spiritual kingdom of God.</p>
		</div>
	</div>
</div>