<div class='page-head row'>
	<div class='menu-icon1 header-menu-btn'>
		<!-- <div class="sandwichButton"></div> -->
		<img src="img/app-sideMenu.svg">
	</div>
	<div class="menu-icon1 header-back-btn">
		<img src="img/back-button.svg">
	</div>
	<div class='pageHeading'>
		<span></span>
		<img class="trbrand" src="#">
		<!-- for options -->
		<div class="pageHead-option">
			<table>
				<tr class="pageHead-option-set">							
				</tr>
			</table>
		</div>
	</div>
</div>