<div class="nav-swipe">
	<div id="navigationDrawer">
		<div class="my-menu page transition">
			<div class="smenu-head">
				<div class='logo'>
				</div>
				<div class='heading'>
					<h4>Stutigaan</h4>
					<span>Sing unto the Lord</span>
				</div>
			</div>
			<div class="smenu-content">
				<div class="smenu-options">
					<ul>
						<li class="js-aboutus" id="sideAbout">
							<span class='image'><img src="img/aboutus.svg"></span>
							<span class='label1'>About Us</span>
						</li>
						<li class="js-share" id="sideShare">
							<span class='image'><img src="img/share.svg"></span>
							<span class='label1'>Share</span>
						</li>
						<li class="js-rateapp" id="sideRate">
							<span class='image'><img src="img/rate-app.svg"></span>
							<span class='label1'>Rate App</span>
						</li>
						<li class="js-contact" id="sideContact">
							<span class='image'><img src="img/contact-us.svg"></span>
							<span class='label1'>Contact Us</span>
						</li>
						<li href="https://christchurch.ind.in" class="" id="">
							<span class='image'><img src="img/biblenotes.svg"></span>
							<a href="https://christchurch.ind.in/blog/">
								<span class='label1'>Bible Notes</span>
							</a>
						</li>
						<!-- <li class="js-playaudio" id="sideAudio">
							<span class='image'><img src="img/contact-us.svg"></span>
							<span class='label1'>Play Audio</span>
						</li> -->
					</ul>
				</div>
				<div class="smenu-footer">
					<div class="social-icons">
						<a  href="https://christchurch.ind.in"><img src="img/internet.svg"></span></a>
						<a  href="mailto:christchurch.ministries@yahoo.com"><img src="img/contact-us.svg"></span></a>
						<a  href="tel:+91-9417221177"><img src="img/Phone(1).svg"></span></a>
						<!-- <span class="js-social-link" data-url="https://in.linkedin.com/company/toprankers"><img src="img/linkedin-img.png"></span> -->
					</div>
					<div class="footer-content">
						<p><span>Christ Church Ministries </span> <span>spreading God's word around the Globe by the authority of Heaven.</span></p>
					</div>
					<div class="social-icons">
						<!--<span class="js-social-link" data-url="https://www.facebook.com/TopRankersPage/"><img src="img/fb-img.png"></span>
						<span class="js-social-link" data-url="https://twitter.com/top_rankers/"><img src="img/twitter-img.png"></span>
						<span class="js-social-link" data-url="https://plus.google.com/u/0/105154189794328099286"><img src="img/google-plus-img.png"></span>
						<span class="js-social-link" data-url="https://in.linkedin.com/company/toprankers"><img src="img/linkedin-img.png"></span>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="view-blocker"></div>
</div>