<div id="view-songlist" class="view-songlist">
	<div class="page-head row">
		
	</div>
	<div id='overlay'>
		
	</div>
	<div class='content'>
		<div class="menu-icon1 header-back-btn">
			<img src="img/back-button.svg"><span class='songlist-head'></span>
		</div>
	</div>
	<div class='songlist'>
		<div class="panel-group" id="accordion">
		</div> 
	</div>	
	<div class='dummy-data'>
	</div>
	<!--<div class="button-wrap"><button data-dialog="song_dialog" class="trigger">Open Dialog</button></div>-->
	<div id="song_dialog" class="dialog" data-song="none">
		<div class="dialog__overlay"></div>
		<div class="dialog__content">
			<div class="morph-shape" data-morph-open="M0,33.699V0c0,0,13.458,0,40.125,0C66.793,0,80,0,80,0v33.974v0.103V60c0,0-13.333,0-40,0c-26.667,0-40,0-40,0V33.699" data-morph-close="M0,33.699V0c0,0,13.208,11,39.875,11C66.543,11,80,0,80,0v33.974v0.103v13.111C80,47.188,66.667,60,40,60
			C13.333,60,0,47.062,0,47.062V33.699">
				<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
					<path d="M0,33.699V0c0,0,13.208,11,39.875,11C66.543,11,80,0,80,0v33.974v0.103v13.111C80,47.188,66.667,60,40,60
					C13.333,60,0,47.062,0,47.062V33.699"></path>
				</svg>
			</div>
			<div class="dialog-inner">
				<div class='dialog-header'>
					<h1 class="dialog-title"></h1>
					<span class="action" data-dialog-close>&times;</span>
				</div>

				<div class='dialog-body'>
				</div>
			</div>
			<div class="player_operation">
				<div class="playerIcon">
					<img src="img/Songplay/playbutton_minimizedplayer.svg" songplaying="false">
				</div>
				<div class="backIcon">
					<img src="img/Songplay/player_backbutton.svg" songplaying="true">
				</div>
			</div>
		</div>

	</div>
</div>