#commonaboutusController{
	height: 100%;
    top: 0px;
}
.view-aboutus .page-head {
    background-image: url("../../img/about0img.png");
    height: 240px;
    object-fit: fill;
	z-index: 1;
}
.view-aboutus #overlay{
	position: absolute;
    height: 240px;
    width: 100%;
    top: 0px;
    opacity: 0.5;
    /* background-image: linear-gradient(to right top, #12134b, #282870, #3e3e99, #5556c3, #6b70ef); */
    background: rgba(255,87,64,1);
    z-index: 2;
}
.view-aboutus .content{
	position: absolute;
    height: 240px;
    width: 100%;
    top: 0px;
	z-index: 3;
}
.view-aboutus .content .menu-icon1 img{
	position: relative;
    float: left;
    margin: 5px 5px 0 0px;
    padding: 14px 6px;
    padding-right: 8px;
}
.view-aboutus .content .menu-icon1 span{
	color: white;
    display: inline-block;
    margin-top: 14px;
    font-size: 18px;
    margin-left: 3px;
}
.contact-details{
	display: flex;
    flex-direction: column;
}
.contact-details .head{
	padding: 30px 30px 0px;
}
.contact-details h4{
    font-size: 18px;
    color: #ff5740;
    margin-bottom: 7px;
    font-weight: bold;
}
.contact-details .aboutus{
    padding: 30px;
    padding-top: 20px;
}
.contact-line {
    width: 49%;
    min-height: 2px;
    background-color: #D6DCEA;
}