.controller-commonheaderController{
    /* height: 65px; */
    height: 54px;
	top: 0px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
	z-index: 1000;
	overflow-y: hidden;
	/* background-image: linear-gradient(to right top, #12134b, #282870, #3e3e99, #5556c3, #6b70ef); */
    background-image: linear-gradient(to right top, #FF5740, #FF3E3E);
}
.page-head {
    padding: 7px 14px;
    background-image: url('../../img/header-bg.png');
    background-size: cover;
    color: #fff;   
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}
#commonsonglistController .page-head{
    min-height: 120px;
}
.menu-icon1 {
    padding-left: 15px;
    padding-top: 5px;
}
.header-menu-btn{
    padding-left: 0px;
}
.sandwichButton {
    background: transparent;
    margin: 15px 0 0 -10px;
    position: relative;
    height: 30px;
    width: 30px;
    float: left;
    display: block;
}
.sandwichButton::after {
    position: absolute;
    top: 12px;
}
.sandwichButton::before, .sandwichButton::after {
    background: #fff;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: .4s;
    width: 17px;
}
.sandwichButton::before {
    box-shadow: 0 6px #fff;
    position: absolute;
    top: 0;
}
.page-head .pageHeading {
    margin-top: 9px;
    padding-left: 10px;
}
.page-head .pageHeading span{
	color: white;
    display: inline-block;
    font-size: 18px;
    margin-left: 3px;
}
.page-head h4 {
    font-weight: bold;
    margin: 0px;
    margin-top: 13px;
}
.pageHeading .trbrand {
    position: absolute;
    right: 6%;
    top: 16px;
    height: 36px;
}
/*.page-head .header-back-btn img{
	position: relative;
    float: left;
    margin: 15px 15px 0 -10px;
}*/
.page-head .header-back-btn img {
    position: relative;
    float: left;
    margin: 0px 5px 0 -18px;
    padding: 14px 6px;
    padding-right: 8px;
    /*background-color: red;*/
}
.pageHeading .pageHead-option{
	display: none;
	float: right;
    margin-top: -20px;
}
.page-head .pageHead-option span {
    font-size: 1.1em;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-right: 3px;
}
.page-head .pageHead-option td {
    padding: 0px 8px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}