#commonhomeController{
	background-color: white;
}
.view-home{
	margin-top:10px;
}
.view-home .item-list{
	padding-left: 5px;
    padding-right: 5px;
}
.view-home .item-list .listing{
	display: flex;
	flex-wrap: wrap;
	margin-top: 3px;
}
.view-home .item-list .category-listing:first-child .heading{
	margin: 15px 10px 2px;
}
.view-home .item-list .heading{
	border-bottom: solid 1px #E4e4e4;
	margin: 8px 10px 2px;
}
.view-home .item-list .heading span{
	font-size: 11px;
    color: #666D71;
    font-weight: bold;
}
.view-home .item{
	width: 50%;
    /*height: 160px;*/
	padding: 5px;
}
.view-home .item.odd{
	padding-left: 10px;
}
.view-home .item.even{
	padding-right: 10px;
}
.view-home .item img{
	width: 100%;
    height: 100%;
}
.item h4{
	margin: 5px;
}
.view-home .item{
	width: 50%;
    /*height: 160px;*/
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.view-home .item.odd-p {
    padding: 5px 0px 10px 0px;
	width: 100%;
}
.songs-cat-name {
    font-size: 1em !important;
    color: #393A54;
    padding: 0px;
    margin: 0px;
	font-weight: bold;
}

.songs-cat-range {
    color: #FF3E3ECC;
    font-size: 0.8em !important;
    margin-bottom: 0px;
}