#menu-bar{
	display:block;
	position:fixed;
	z-index:1000;
	bottom:0;
	width:100%;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
	background:#FFF;
	height:55px;
	text-align: center;
}
#menu-bar .menu-item li{
	  background-position: center;
  	  transition: background 0.4s;
  	  margin-left: -2px;
  	  flex-grow: 0;
      flex-shrink: 0;
}

#menu-bar .menu-item li > p{
	color: rgba(0,0,0,0.8);
    font-size: 0.7em;
    margin-top: 4px;
    line-height: 10px;
    text-transform: uppercase;
    white-space: pre-wrap;
}

#menu-bar .menu-item .active p{
	color: #FFFFFF;
}
#menu-bar .menu-item li:active {
  background-color: #FFAA46;
  background-size: 100%;
  transition: background 0s;
}
#menu-bar ul li img{
	width:16.16px; 
	height:16px;
}
#menu-bar .menu-item .headerongoing{
	width: 3px;
	height: 3px;
	background-color: red;
	display: inline-block;
	border-radius: 50%;
	top: -1px;
	left: -9px;
	position: relative;
	margin-left: 10px;
}

#menu-bar .menu-item .headerongoing > svg{
	background: none;
	position: absolute;
	top: -11px;
	left: -11px;
}
ul.menu-item{
	list-style-type: none;
	overflow-x: hidden;
	white-space: nowrap;
	padding: 0px 0px;
	margin-bottom:-3px;
	box-shadow: 0px -8px 20px rgba(0,0,0,0.25);
	display: flex;
}
ul.menu-item > li
{
	display:inline-block;
	text-align:center;
	padding: 10px 5px 10px 5px;
	color: black;	
	width: 16.6%;
}
ul.menu-item > li.active
{
	background-color:#FFAA46;
	font-weight:bold;
	pointer-events: none;
}