/****************   SIDE MENU STARTS **********/
.controller-commonsidemenuController{
	
}
#navigationDrawer {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
.my-menu{
    z-index:10000;
    padding:0px;
    margin:0px;
    position:fixed;
    top:0px;
    left:0px;
    height: 100vh;
    width: 280px;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.7);
   	background-color: rgba(0,0,0,0.5);
	display: flex;
    flex-direction: column;
}
.my-menu ul{
    list-style-type:none;
    width:100%;
    margin: 0;
    padding: 0;
}
.my-menu .smenu-content {
    background-color: #ff5740;
    height: 100%;
}
.my-menu .smenu-content .smenu-footer {
    bottom: 0;
    position: absolute;
    margin: 0px 20px;
}

#VerifyPhoneNumber-modal .Error{
width: 90%;
margin: auto;
margin-top: 12px;
color: #F05E5E;	
	
}

.my-menu .smenu-footer .tr-logo {
    margin: 20px 0;
}

.my-menu .social-icons{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.my-menu .js-rate-app{
	margin-top: 25px;
	width: 135px;
	height: 35px;
	font-size: 1.1em;
	font-weight: bold;
}
.my-menu .smenu-footer .tr-logo .text-grey {
    margin-top: 6px;
	color: #6A848B;
	font-size: 1em;
	font-weight: bold;
}

.my-menu .smenu-footer .tr-logo .tr-picture{
	width: 80%;
}

.my-menu .smenu-content li {
    color: #374358;
    font-size: 1.2em;
    /* border-bottom: 1px solid #DBEBEF; */
    padding: 13px 23px;
    /* box-shadow: 0px 5px 6px -8px rgba(0,0,0,0.29); */
    /* background-image: linear-gradient(to right top, #FF5740, #FF3E3E); */
    margin: 0px;
}
.my-menu .smenu-content li span.label1{
	color: #FFFFFF;
    font-size: 14px;
    margin-left: 20px;
}
.my-menu .smenu-content li a{
    color: #374358;
}
.my-menu .profile-pic{
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    left: 4px;
}
.my-menu .profile-div {
    padding: 20px 10px;
}
.my-menu .welcome-div {
    padding: 15px 10px;
    color: #FFF;
}
.my-menu .profile-div .user-details{
	position: absolute;
    color: #FFFFFF;
    margin-top: 7px;
    margin-left: 45px;
}
.my-menu .profile-div .user-details > div {
    margin-left: 8px;
}
.my-menu .profile-div .user-details .pname-x{
	font-size: 1.143em;
	letter-spacing: -0.2pt;
	margin-right: 34px;
	word-wrap: break-word;
	word-break: break-all;
	width: 153px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}
.my-menu .profile-div .profilesidearrow {
    position: absolute;
    top: 22px;
    right: 5px;
    padding-top: 19px;
}
.my-menu .smenu-head{
	height: 145px;
    position: relative;
    /* background-image: linear-gradient(to right top, #12134b, #282870, #3e3e99, #5556c3, #6b70ef); */
    background-image: linear-gradient(to right top, #FF5740, #FF3E3E);
    background-image: linear-gradient(to right top, #F2F1F6, #F2F1F6);
    top: 0px;
}
.my-menu .smenu-head .heading{
	/* position: absolute; */
    bottom: 4px;
    left: 18px;
    color: #393A54;
}
.my-menu .smenu-head .text-grey {
    font-size: 11px;
    letter-spacing: 0;
    color:#FFFFFF;
    margin-right: 34px;
    word-break: break-all;
    display: inline-block;
	width: 153px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}
.my-menu .smenu-head .text-grey_nouser{
    font-size: 11px;
    letter-spacing: 0;
    color:#FFFFFF;
    margin-right: 34px;
    word-break: break-all;
    display: inline-block;

}
.my-menu .smenu-head  .arrow-right img{
    top: 28px;
    right: 4px;
    position: absolute;
    font-weight: bold;
    color: #FFFFFF;
}
.menu-icon1.blocked .sandwichButton:after {
	top: 10px;
	transform: rotate(315deg);
}
.menu-icon1.blocked .sandwichButton:before {
	box-shadow: transparent 0 0 0 0;
	top: 10px;
	transform: rotate(225deg);
}
.my-menu .welcome-div .btn {
    margin: 10px 10px 0 0;
    border-radius: 0;
	background: #374358;
	font-weight: bold;
	padding: 5px 12px;
	height: 25px;
}
.view-blocker{
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    display: none;
    position: fixed;
}
#app .slide-view{
	overflow-y: hidden;
	position: fixed;
}
/*TODO: add this for view , headerView when the side menu is open*/
#app .slide-view-menu{
	margin-left: 250px;
	overflow-y: hidden;
}
.js-myDashboardsidmenu img{
	 width:18px;
}
/****************   SIDE MENU ENDS **********/
.smenu-footer .footer-content p{
    font-size: 11px;
    color: #FFFFFF;

}
.smenu-footer .footer-content p span:first-child{
    font-weight: 750;
}
.smenu-footer .footer-content p span{
	color: #FFFFFF;
}
#navigationDrawer .smenu-options{
    margin-top: 13px;
}
.heading h4{
    font-size: 26px;
    font-weight: bold;
}
.heading span{
    font-size: 11px;
}
#commonsidemenuController .heading{
    padding-left: 23px;
}

.smenu-head{
    display: flex;
    align-items: center;
}