@font-face {
    font-family: 'muli';
    src: url('https://cdn.toprankers.net/fonts/muli-webfont.woff2') format('woff2'),
         url('https://cdn.toprankers.net/fonts/muli-webfont.woff') format('woff');
}

@font-face {
    font-family: 'oswald';
    src: url('https://cdn.toprankers.net/fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('https://cdn.toprankers.net/fonts/oswald-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'allura';
    src: url('https://cdn.toprankers.net/fonts/allura-regular-webfont.woff2') format('woff2'),
		 url('https://cdn.toprankers.net/fonts/allura-regular-webfont.woff') format('woff');
}

html body {
  font-family: 'muli', sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #2c3b47;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html body *
{
	letter-spacing: 0.005em;
}
img:not([src]) {
    visibility: hidden;
}
/********Keyframe for blink*********/

@keyframes blink{
	0% { opacity: 1.0; }
 	50% { opacity: 0.0; }
 	100% { opacity: 1.0; }
}

/*** menubar animations *****/
.dasams{
	transform: translateY(100%);
	transition: transform .1s;
}
/*************************************/
.Hidden
{
	display: none;
}
.errorMsg {
	color:red;
}
.Number
{
  font-family: "oswald";
}
.successMsg {
	color:green;
}
.text-blue{
	color : #30B8E2;
}
.testlist > .tabList{
	width: 100%;
	left: 0;
	overflow: auto;
	display: inline-flex;
	overflow-y: hidden;
}
.testlist > .testTab{
width: auto;
display: table-cell;
vertical-align: middle;
height: 40px;
white-space: nowrap;
}
.nav-tabs > li {
	height:51px;
}
.nav-tabs{
	width:100%;
	left:0%;
	overflow: auto;
    display: inline-flex;
	overflow-y:hidden;
	border: none;
}
.nav-tabs>li>a
{
	border: none;
	color: #627089;
	white-space: nowrap;
	font-size: 1.125em;
	outline: none;
}
.tabList>li>a
{
	box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
}
/*common modal tranisition*/
.modal.fade .comnTransition.modal-dialog{
	transition: transform .3s cubic-bezier(0.840, -0.150, 0.480, 1.120) !important;
	transition: transform .1s ease-out !important;;
}
.modal.fade:not(.in) .comnTransition.modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}
/*common modal tranisition ends */
/*.profile-content > .nav-tabs>li>a{
	color:#3069af !important;
}
.profile-content > .nav-tabs>li.active>a, .nav-tabs>li>a:focus, .nav-tabs>li.active>a:focus{
	color:#ffaa46 !important;
}
.report > .nav-tabs>li>a{
	color:#3069af !important;
}
.report > .nav-tabs>li.active>a, .nav-tabs>li>a:focus, .nav-tabs>li.active>a:focus{
	color:#ffaa46 !important;
}*/
.nav-tabs>li.active>a, .nav-tabs>li>a:focus, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    /*background: #f0f7fa;*/
    border: none;
    padding-bottom: 10px;
    font-weight:bold;
}
.nav-tabs>li.active>a
{
	border-radius:0px;
}
.nav-tabs > li.active::after {
    position: absolute;
    content:"";
    border-right: 9px solid transparent;
    border-top: 7px solid #FFAA46;
    border-left: 9px solid transparent;
    left: 50%;
	transform: translateX(-50%);
	bottom: 7px;
}
.PackageContainer .nav-tabs>li.active>a{
    border: none;
    padding-bottom: 10px;
    color: #FFFFFF;
}
.nav > li > a{
	display:block;
	background-color:#EFF6F8;
	letter-spacing: -0.2pt;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.30);
}
.nav-tabs > li > a:focus, .nav > li > a:hover{
	background-color: transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	font-weight: bold;
	font-size:1.1em;
	background-color: #FFAA46;
	color: #FFFFFF;
	letter-spacing: -0.4pt;
}
.stickyTabs {
   padding-top:15px;
}

.view-login .tab-content .sign-in{
	height: 66.125vh;
}
/*********** COMMON HEADER STARTS*************/
.commonHeader {
    /*background-color: #fff;*/
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
    padding-top:14px;
}
.commonHeader .title{
	color: #FFFFFF;
	font-weight: bold;
	font-size : 0.85em;
}
.esContainer .headerholder .commonHeader span:nth-child(1){
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1em;
}
/*********** COMMON HEADER ENDS*************/
/* Login Modal Starts*/
.SocialLogin {
    padding: 25px 0px 15px 0;
    display: table;
    margin: auto;
}
.SocialLogin > span {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-right: 10px;
}
.EmailLogin h3 {
    text-align: center;
    padding: 10px 0 5px 0;
    margin: 0px;
}
.EmailLogin .form-control {
    padding: 10px 12px;
    height: auto;
    margin: 10px 0;
}
.LoginBtn {
    text-align: right;
    padding: 5px 0;
}
.LoginBtn .btn{
	padding: 6px 31px;
}

#txt_login_email_forget {
	margin-top : 5px;
	margin-bottom : 5px;
}
/* Login Modal Ends*/

/* Exam Subsciption Modal Starts*/
#startNowSubsModal .modal-header,
#startNowSubsModal .modal-body,
#subMoreExamsModal .modal-header,
#subMoreExamsModal .modal-body,
#subMoreExamsModal .modal-footer,
#VerifyMobileFrame .modal-header {
    padding: 6px;
}

#startNowSubsModal .modal-header,
#subMoreExamsModal .modal-header,
#VerifyMobileFrame .modal-header{
	background: #337ab7;
	border-bottom:none;
}

#startNowSubsModal .modal-content,
#subMoreExamsModal .modal-content,
#VerifyMobileFrame .modal-content{
	border:4px solid #337ab7;
	border-radius: 0;
}
#startNowSubsModal .modal-body,
#subMoreExamsModal .modal-body {
	height: 60vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
#startNowSubsModal .modal-body::-webkit-scrollbar,
#subMoreExamsModal .modal-body::-webkit-scrollbar {
	display: none;
}

#subMoreExamsModal .modal-body .body-msg {
	text-align: center;
	margin: 1.6%;
    font-size: 1.4em;
}
#startNowSubsModal .panel-group,
#subMoreExamsModal .panel-group {
	margin: 0 auto 0 auto;
	width: 95%;
}
#startNowSubsModal .modal-title,
#subMoreExamsModal .modal-title,
#VerifyMobileFrame .modal-title{
	color: #fff;
	text-align: center;
    font-size: 1.6em;
}
#startNowSubsModal .modal-header .close ,
#subMoreExamsModal .modal-header .close ,
#VerifyMobileFrame .modal-header .close {
	color: #fff;
	opacity: 0.9;
}
#startNowSubsModal .modal-header .close span,
#subMoreExamsModal .modal-header .close span,
#VerifyMobileFrame .modal-header .close span{
	font-size: 1.6em;
}

#accordionExSub .panel-heading {
	margin: 0;
	padding: 0;
}
#accordionExSub  .panel-title {
	padding: 10px;
	font-size: 1.2em;
}
#accordionExSub  .panel-title .glyphicon-chevron-up,
#accordionExSub  .panel-title .glyphicon-chevron-down,
#accordionSubMore .panel-title .glyphicon-chevron-up,
#accordionSubMore .panel-title .glyphicon-chevron-down{
	float: right;
	color: #337ab7;
}
#accordionExSub a,
#accordionSubMore a {
	text-decoration: none;
}
#accordionExSub  .panel-body {
	padding-top: 5px;
	padding-bottom: 0;
}
#subMoreExamsModal .panel-body {
    padding: 0 15px;
}
#subMoreExamsModal .modal-footer .btn-primary{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 23px;
}
#startNowSubsModal .panel-heading a[aria-expanded=false] .glyphicon-chevron-up,
#startNowSubsModal .panel-heading a[aria-expanded=true] .glyphicon-chevron-down,
#subMoreExamsModal .panel-heading a[aria-expanded=false] .glyphicon-chevron-up,
#subMoreExamsModal .panel-heading a[aria-expanded=true] .glyphicon-chevron-down {
    display: none;
}
#accordionExSub .startExamDiv {
	padding: 0px 0 13px 0;
}
#accordionExSub .startExamDiv button{
	float: right;
	border-radius: 5px;
}
#accordionSubMore .panel-heading.checkbox {
	margin: 0;
	display: inline-flex;
	width: 100%;
}
#accordionSubMore a {
	width: 100%;
}
#startNowSubsModal h3 {
	padding: 5px;
}
/* checkbox style */
/* The container */
#subMoreExamsModal .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
#subMoreExamsModal .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
#subMoreExamsModal .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
#subMoreExamsModal .checkbox-container:hover input ~ .checkmark {
    background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
#subMoreExamsModal .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
#subMoreExamsModal .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#subMoreExamsModal .checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
#subMoreExamsModal .checkbox-container .checkmark:after {
    left: 8px;
    top: 2px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Exam Subsciption Modal Ends*/

/* VerifyOTP Modal Starts*/
#VerifyMobileFrame .row {
	margin: 0;
}
#GetOTP,
#VerifyOTP {
    float: left;
    margin: 5px 5px 5px 0;
}
#VerifyOTP {
	padding-left: 38px;
    padding-right: 38px;
}

/* VerifyOTP Modal Ends*/
.affix + .banner {
    margin-top:50px;
}
.banner{
	position: relative;
	min-height: 276px;
}
.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: center no-repeat;
}
.banner .banner-text {
    position: absolute;
    top: 0;
    color: white;
    display: table;
    height: 100%;
    left: 0;
    right: 0;
}
.banner .banner-text > div {
    float: none;
    display: table-cell;
    vertical-align: middle;
    white-space: normal;
}
.SiteStates {
    padding: 8px 0px;
}

.breadcrumb
{
 	margin: 0px;
}

.sidebarNews{
	top:80px;
	z-index:5;
	overflow: auto;
	position: fixed;
	/*display:none;*/
	width:27%;
	height:350px;
	background-color:transparent;
	right:-370px;
	transition:all 500ms linear;
}
.sidebarNews.active{
	height:320px;
  	right:0px;
  	transition:all 500ms linear;
}
.stbNews{
	position:absolute;
	text-align:right;
	right:3%;
	top:103px;
	color:#FFFFFF;
	font-weight: bold;
	transition:all 500ms linear;
	word-wrap: break-word;
	white-space: pre;
	visibility:visible;
}
.News > .NewsCenter div{
	border-radius: 5px;
	width: 60%;
	padding:10px;
}

.News > .NewsCenter div:nth-child(4n - 3){  /* 1n child*/
	background:rgba(75,54,125,.7);
  	opacity: 0.8;
 	float:left;
 	margin-right:20%;
 	margin-top:-10px;
 	top:10%;
}

.News > .NewsCenter div:nth-child(4n - 3) h3{
  	color: wheat;
  	opacity: 5;
}
.News > .NewsCenter div:nth-child(4n - 3) p{
  	color: #fff;
  	opacity: 5;
}
.News > .NewsCenter div:nth-child(4n - 2){ /* 2n child*/
  	background:rgba(113,33,52,.7);
  	opacity: 0.8;
 	margin-top:-10px;
 	float:right;
 	margin-left:50%;
 	margin-right: 10%;
}
.News > .NewsCenter div:nth-child(4n - 2) h3{
  color: wheat;
  opacity: 5;
}
.News > .NewsCenter div:nth-child(4n - 2) p{
  	color: #fff;
  	opacity: 5;
  	text-align: left;
  	text-overflow: ellipsis;
}
.News > .NewsCenter div:nth-child(4n){ /* 4th child*/
  	background:rgba(64,148,73,.7);
  	opacity: 0.8;
 	margin-top:-10px;
 	float:right;
 	margin-left:50%;
 	margin-right: 10%;
}
.News > .NewsCenter div:nth-child(4n) h3{
  color: wheat;
  opacity: 5;
}
.News > .NewsCenter div:nth-child(4n) p{
  	color: #fff;
  	opacity: 5;
  	text-align: left;
  	text-overflow: ellipsis;
}
.News > .NewsCenter div:nth-child(4n - 1){ /* 3n child*/
  background:rgba(135,45,132,.7);
  opacity: 0.8;
  margin-top:-10px;
  margin-right:20%;
  float:left;

}
.News > .NewsCenter div:nth-child(4n - 1) h3{
  color: wheat;
  opacity: 5;
}
.News > .NewsCenter div:nth-child(4n - 1) p{
  color: #fff;
  opacity: 5;
  text-align: left;
  text-overflow: ellipsis;
}
.Newshead{
	display: none;
}

.notfound {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.notfound img
{
	width: 297px;
	height: 430px;

}
/*Class Presets*/
.BGOnCard
{
	background-color: #FFF;
}
.Card
{
	background: #fff;
    border: 1px solid rgba(204, 204, 204, 0.50);
    border-radius: 5px;
    margin-bottom:10px;
}
/* RIPPLE EFFECT BUTTONS */
.btn {
	text-decoration:none;
	background-position: center;
    transition: background 0.8s;
    border-radius: 4px;
    padding: 6px 7px;
    font-size: 0.714em;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}
.btn-primary{
	color: #fff;
    background-color: #30B8E2;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.20);
    padding: 7px;
}
.btn-green-success {
    background-color: #FFF;
    color: #45C915;
    border-color: #45C915;
}
.btn-green {
    background-color: #F05E5E;
    color: #FFF;
    border-color: #F05E5E;
}
#btn_forgotpswd{
	color: #30B8E2;
	font-size: 1.000em;
}
.btn-primary:hover {
	text-decoration:none;
	color: #fff;
	border-color: #17aedd;
    background: #17aedd radial-gradient(circle, transparent 1%, #17aedd 1%) center/15000%;
}
.btn-primary:active {
	text-decoration:none;
	color: #fff;
	border-color: #2dbde9;
    background-color: #2dbde9;
    background-size: 100%;
    transition: background 0s;
}

.btn-default
{
	color: #30B8E2;
	border-color: #30B8E2;
	background-color: #fff;
	border-radius:0;
}

.btn-default:hover {
	text-decoration:none;
	color: #30B8E2;
	border-color: #30B8E2;
    background: #eee radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
}
.btn-default:active {
	text-decoration:none;
	color: #30B8E2;
	border-color: #30B8E2;
    background-color: #f7f7f7;
    background-size: 100%;
    transition: background 0s;
}

.btn-large{
    height: 48px;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 14px;

}
.btn-medium{
    width: 155px;
    height: 48px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 12px 15px 6px 15px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.20);
    border-radius: 0;
}
.btn-on-banner
{
	color: #ffaa46;
	border-color:#ffaa46;
	background-color: rgba(0, 0, 0, 0.5);
}
.btn-on-banner:hover, .btn-on-banner:focus
{
	color: #fff;
	background-color: #ffaa46;
	border-color:#ffaa46;
}

.ripple-primary {
    background-position: center;
    transition: background 0.8s;
  }
.ripple-primary:hover {
	color: #fff;
	text-decoration:none;
	background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple-primary:active {
	color: #fff;
	text-decoration:none;
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}

.ripple {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}

H1
{
	font-size: 2.2em;
}
H2
{
	font-size: 1.8em;
}
H3
{
	font-size: 1.5em;
}
H4
{
	font-size: 1.1em;
}
.H3Color
{
	color: #1496be;
}
.TextNormal
{
	color: #2c3b47;
}
.TextDark
{
	color: #475465;


}
.plan-package-align{
	margin:unset;
	font-size: 1.5em;
	font-weight: bold;
	color: #374358;
	margin: 37px 0px 29px 15px;
	display: inline-block;
}
.TextHeilight
{
	color: #87A7AF;
}

.nav-tabs >li >a {
margin-right: 0px;
}

.nav-tabs li.active .TextHeilight{
	color:  #FFFFFF;
}
.text-grey
{
	color: #888;
}
.CenterAlign
{
	text-align: center;
}
.NotValied * {
    color: #aaa;
}
.NotValied.btn, a.NotValied {
    pointer-events: none;
    border-radius:4px;
    font-size: .75em;
   	background-color: #FFFFFF !important;
	color: #ddd !important;
	font-weight: bold;
}
.NotValied span{
	color: #ddd !important;
}
.NotValied.testReport {
    color: #ddd;
    /*border: 1px solid rgba(221, 221, 221, 0.57);*/
    pointer-events: none;
    border-radius:4px;
    /*font-size: .75em;*/
}
.NotValied.btntxt{
	color: #ddd;
    /*border: 1px solid rgba(221, 221, 221, 0.57);*/
    pointer-events: none;
    border-radius:4px;
}
body *::-webkit-scrollbar{
	display: none;
}
@media (max-width: 767px)
{
	body
	{
		font-size: 1.3em;
	}
	.SocialLogin
	{
		text-align: center;
	}
	.SocialLogin > span {
    	display: inline-block;
    	padding: 5px 0;
	}
	.banner .banner-text
	{
		display: block;
	    height: auto;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.banner .banner-text > div {
   	 	display: block;
		padding: 10px 0px;
	}
}

@media (max-width: 500px)
{
	.col-xxs-12
	{
		width: 100%;
	}
	.notfound img
	{
		width: 100px;
		height: 200px;

	}
}
/* For TR1 */
#layout_body H1, #TestReport H1
{
	font-size: 1.4em;
}
#layout_body H2, #TestReport H2
{
	font-size: 1.3em;
}
#layout_body H3, #TestReport H3
{
	font-size: 1em;
}
}
@media (max-width: 767px)
{
	.testItem > div
	{
		float: left;
		padding: 10px 0px;
	}
}

/************ SUBMENU STARTS ************/
.submenudiv{
	height: 40px;
	position: sticky;
	top: 50px;
	z-index: 5;
    background-color: #dcebf2;
}
 .submenuList{
	width: 100%;
	left:0;
	overflow: auto;
	background-color: transparent;
	display: inline-flex;
	height: inherit;
	position: absolute;
	/*left: 3%;*/
	overflow-y: hidden;
}
 .submenuPosition {
    display: inline-flex;
    width: auto;
    text-decoration: none;
}
 .submenuPosition a{
	 text-decoration: none;
}

 .submenu{
	width: auto;
	height: 30px;
    white-space: nowrap;
    padding: 3px 7px;
    text-transform:uppercase;
    border: 1px solid #30B8E2;
    position: relative;
	margin-right: 9px;
}
 .submenu>span{
	margin: 5px;
}
.submenu span.textcontent{
	color: #30B8E2;
	font-size: 0.95em;
	font-weight:bold;
	letter-spacing: -0.3pt;
	}
.submenuDiv{
	position: relative;
	height: 40px;
	/*margin: 24px 12px;*/
	margin: 24px 12px 12px 12px;
}


/*common submenu*/
.submenu-list {
    overflow-x: auto;
    white-space: nowrap;
}
.submenu-list a {
	text-decoration : none;
    display: inline-block;
    height: 30px;
    padding: 3px 7px;
    text-transform: uppercase;
    border: 1px solid #30B8E2;
    margin-right: 9px;
    color: #30B8E2;
    font-size: 0.95em;
    font-weight: bold;
    letter-spacing: -0.3pt;
}

/************ PACKAGE CARD STARTS ************/
.packageContainerTab .NotValied{
	background-color: #dddd;
}
.pkglist {
    box-shadow: none;
}
.pkglist .submenudiv {
    height: 50px;
    box-shadow: none;
}
.pkglist .submenuList {
    border-bottom: 1px solid #ddd;
}
.pkglist .submenu {
    width: auto;
    margin-top: 8px;
    padding: 10px 15px;
}
.pkglist .submenu a{
    white-space: nowrap;
    background: initial;
    border: none;
    padding-bottom: 9px;
    color: #323b47;
}
.pkglist .submenu a:active, .pkglist .submenu a:focus, .pkglist .submenu:hover a {
    border-bottom: 0.5vw solid #ffaa46;
    text-decoration: none;
    cursor: pointer;
}
.package{
	margin: 15px 20px;
	padding: 0px;
	display: inline-table;
}
.packageposition .package{
	position: relative;
    border-top: 10px solid transparent;
    margin-top: 20px;
    vertical-align: bottom;
    white-space: initial;
}
.pkgHeader
{
	height: 124px;
    width: 260px;
	background: linear-gradient(to right top, #1496be , #1ebcec);
	padding: 15px 10px 60px 10px;
	color:#fff;
	position: relative;
}
.pkgHeader p:first-child{
	line-height:16px;
}
.pkgHeader:after {
    content: "";
    position: absolute;
    left:0px;
    top: -8px;
    width: 100%;
    border-bottom: 8px solid rgba(20, 150, 190, 0.6);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}
.pkgHeader p:first-child
{
	font-size: 1.3em;
	margin: 0 0 10px 0;
	line-height: 1.3;
	font-weight: bold;
	letter-spacing: -0.4pt;
}
.Price span{
	margin:4px;
}
.pkgHeader .Price s
{
	font-size: 1em;
}
.pkgHeader .Price .discount {
    font-size: 0.85em;
    background-color: #00465E;
	padding: 6px 8px;
	border-radius: 16px;
}
.pkgHeader .Price .BuyingPrice {
    font-size: 1.5em;
}

.BuyBtnAtTop
{
	position: absolute;
    bottom: 15px;
    width: 100%;
    left: 0;
    text-align: center;
}
.pkgDetail span{
	margin-left:50%;
	color: #18a6e0;
	transform:translateX(-50%);
	text-align:center;
}
.pkgDescription {
	padding : 10px;
	height:176px;
	line-height:1.6;
	overflow-y: auto;
	font-size: 1.1em;
}
.pkgDetail::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.pkgDetail{
    background-color: #fff;
    width: 260px;
    border: 1px solid rgba(20, 150, 190, 0.5);
    border-bottom: none;
    border-top: none;
}
.valid_datemessage{
    margin-left: 0px !important;
    font-size: 10px;
}
.valid_datemessage_explore{
    margin-top: unset !important;
}
/*** ribbon style starts ***/
.ribbon-front {
	height: 65.5px;
	width: 290px;
	position: relative;
	left:-16px;
	z-index: 2;
    border-radius: 3px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #ffffff;
	border: 1px solid #E3EEF2;
	text-align:center;
}
.ribbon-front:after, .ribbon-front:before {
	content: "";
    position: absolute;
    right: -1px;
    top: -15px;
    border-bottom: 15px solid #AFBDC3;
    width: 15px;
    border-right: 15px solid transparent;
}
.ribbon-front:after {
	left: -1px;
    top: -15px;
    border-right:none;
    border-left: 15px solid transparent;
}
/* ribbon buttons */
.ribbon-front a {
/*  position: absolute;
  	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    background-color: #fff;
    font-size:1.2em;
    font-weight:bold;
    padding-top: 10px;
    margin: 10px 5px;
}
.package:nth-of-type(n) .ribbon-front a.active, .package:nth-of-type(n) .ribbon-front a:active, .package:nth-of-type(n) .ribbon-front a:hover {
    background-image: none;
    background-color: transparent;
}
.ExploreBtnDiv
{
	text-align: center;
}
.ExploreBtnDiv:after {
    content: '';
    position: absolute;
    width: 298px;
    bottom: 52px;
    left: -18px;
}
.ExploreBtnDiv:after {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.02) 75%);
    height: 2em;
}
.btn.btn-explore {
	height: 70px;
    border-radius: 0px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    padding-top: 15px;
    width: 140px;
    margin-bottom: -25px;
    background-color : #ffaa46;
    color: #fff;
}

.btn-explore:hover,
.btn-explore:active {
	background-color : #fff;
	color: #ffaa46;
	border-color: rgba(255, 170, 70, 0.5);
	font-size : 1.1em;
}
.packageDiv {
	position: relative;
	border: none;
}
.packageDiv > h3 {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 9px;
    display: table;
    margin: auto;
    word-break: break-all;
}
.packageList {
	/*width: 94%;*/
	width:100%;
	overflow-x:auto;
	overflow-y:hidden;
	background-color: transparent;
	display: inline-flex;
	height: auto;
	position: relative;
	/*left: 3%;*/
	margin-bottom: 20px;
}
.packageposition {
	margin: 0 auto;
    display: block;
    white-space: nowrap;
}
.packagebtnleft {
	position: absolute;
	left: 0;
	margin-top: 200px;
    font-size: 20px;
    color: #979899;
}
.packagebtnright {
	position: absolute;
	right: 0;
    margin-top: 200px;
    font-size: 20px;
    color: #979899;
}

.package-title {
	font-size: 1.1em;
    border: 1px solid rgba(5,56,96,.3);
    text-align: center;
    width: 26%;
    border-radius: 5px;
    position: relative;
    top: 1.5em;
    margin-left: 37%;
    padding-bottom: 10px;
}
.packtitle{
	margin:15px 0px 0px 0px;
}
.packageDiv:first-child > .packtitle{
	margin:0px;
	padding-top:15px;
}
.packtitle p{
	display:inline;
}
.packtitle p:first-child{
	color: #4B5C60;
	font-weight:bold;
	margin-left:12px;
	font-size: 1.2em;
}
.packtitle p:nth-child(2){
	color: #6A848B;
	margin-left: 6px !important;
	font-size: 1.1em;
}
.package-title p:first-child p:before {
    content: "";
    width: 50%;
    border-bottom: 1px solid rgba(5,56,96,.3);
    position: absolute;
    left: -50%;
    top: 50%;
}
.package-title p:first-child p:after{
    content: "";
    width: 50%;
    border-bottom: 1px solid rgba(5,56,96,.3);
    position: absolute;
    left: 100%;
    top: 50%;
}
.pkgDescription p {
    border-bottom: 1px solid #D6E4E8;
    padding-bottom: 12px;
	text-align: center;
}
.slide-indicator{
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	background-color: blue;
	color: white;
}
/*** ribbon style ends ***/
/** package color starts **/
.package .pkgDetail
{
    border-color: #D6E4E8;
}
.package:nth-of-type(1n) .pkgHeader
{
	background: linear-gradient(to right top, #ff6654 , #ff9c94);
}
.package:nth-of-type(1n) .pkgHeader:after
{
    border-bottom-color: rgba(255, 102, 84, 0.6);
}
.package:nth-of-type(1n) .ribbon-front a
{
	border: 1px solid #ff6654 !important;
    color: #ff6654;
}
.package:nth-of-type(2n) .pkgHeader
{
	background: linear-gradient(to right top, #3282b3 , #73c1f0);
}
.package:nth-of-type(2n) .pkgHeader:after
{
    border-bottom-color: rgba(50, 130, 179, 0.6);
}
.package:nth-of-type(2n) .ribbon-front a
{
	border: 1px solid #19A9D5 !important;
    color: #19A9D5;
}
.package:nth-of-type(3n) .pkgHeader
{
	background: linear-gradient(to right top, #a75eb5 , #dea0eb);
}
.package:nth-of-type(3n) .pkgHeader:after
{
    border-bottom-color: rgba(167, 94, 181, 0.6);
}
.package:nth-of-type(3n) .ribbon-front a
{

    border: 1px solid #a75eb5 !important;
    color: #a75eb5;
}
.package:nth-of-type(4n) .pkgHeader
{
	background: linear-gradient(to right top, #3fbf8a , #4dd69e);
}
.package:nth-of-type(4n) .pkgHeader:after
{
    border-bottom-color: rgba(63, 191, 138, 0.6);
}
.package:nth-of-type(4n) .ribbon-front a
{
	border: 1px solid #3fbf8a !important;
    color: #3fbf8a;
}
@media (max-width: 500px){
	.packageList{
		width: 100%;
		/*left: 5%;*/
	}
	.package
	{
		font-size: 0.9em;
		margin: 3px 20px 15px 20px;
	}
	.pkgHeader
	{
		width: 247px;
		height: 124px;
	}
	.pkgDetail
	{
		width: 247px;
	}
	.ribbon-front
	{
		width: 276.9px;
		height: 65.5px;
	}
}
/** package color ends **/


/************ PACKAGE CARD ENDS************/

/************ FAQ CARD STARTS************/
.faqList .TextDark::after {
    content: "ꜜ";
    font-size: 1.6em;
    position: relative;
    top: 13px;
    left: 8px;
    color: #becace;
}
.faq{
    border-bottom: 1px solid #c1d2d9;
    padding: 15px 5px;
}
.faq .icon{
	float: right;
	cursor: pointer;
}
.faq_padding{
	border-top: 1px solid #ddd;
    padding: 4px;
    margin-top: 15px;
}
.faq_spacing{
	padding: 0 15pxpx;
}
.faqQuestion span:first-child {
    width: 90%;
    display: inline-block;
}
.faqQuestion {
    font-size: 1.1em;
    cursor: pointer;
}
.faqQuestion .glyphicon-chevron-down, .faqQuestion .glyphicon-chevron-up{
	color: #ffaa46;
}
.faqAnswer {
    font-size: 1.0em;
}
/************ FAQ CARD ENDS************/

#app .OfflineMode{
	background-color: #ddd;
    border: 1px solid rgba(221, 221, 221, 0.57);
    color: #aaa;
}
#alert-modal .modal-dialog{
	top: 50%;
	transform: translateY(-50%);
}
#alert-modal .modal-footer button{
	padding: 5px 15px;
	font-weight: bold;
	text-align: center;
	font-size: 1.11em;
}
#alert-modal .modal-body{
	text-align: center;
	font-size: 1.25em;
	color: #374358;
}
#alert-modal .modal-body .close{
	position: relative;
	top: -15px;
}
.aftersubscribe{
	top: auto !important;
	height:100%;
	padding: 0 !important;
}
.aftersubscribe .modal-body{
	text-align: center;
	font-size: 1.25em;
	color: #374358;
}
.aftersubscribe .modal-body .close{
	position: relative;
	top: -5px;
}
.aftersubscribe .modal-footer button{
	padding: 5px 15px;
	font-size: 1.3em;
	width:100%;
	height: 45px;
	font-weight: bold;
}
.aftersubscribe .modal-dialog{
	width: 100%;
	margin:0px;
	position: absolute;
	bottom: 0px;
}
.aftersubscribe .modal-content{
	border:none !important;
}
.aftersubscribe .modal-footer{
	padding:0px;
}
.aftersubscribe .alertmsg p:first-child{
	font-weight:bold;
	color:#17aedd;
	font-size:1.25em;
}
/* <--test tabs starts */
.tests-container .tab-content{
	margin-top:10px;
}
.tests-container .container-fluid {
   padding: 0;
}
.tests-container .nav-tabs > li > a{
	box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
	border-radius: 0px;
}
.common-panel {
    text-align: left;
}
.common-panel h2, .PackageContainer h2
{
	display: inline-block;
}
.common-panel h2
{
	margin: 0px;
	font-size: 1.15em;
	font-weight:bold;
	letter-spacing: -0.4pt;
}
.common-panel[data-toggle="collapse"] {
	margin-bottom: 5px;
	background-color: #FFFFFF;
	padding: 15px;
	padding-top: 20px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
	color: rgb(55, 67, 88);
}
.common-panel[aria-expanded="true"] {
    background-color: rgb(55, 67, 88);
    color: #fff;
}

.common-panel .panel-img{
	background-image: url("../../img/expandblue.png");
	height: 8px;
	background-repeat:no-repeat;
	width: 12px;
	display: block;
	float: right;
	margin-top:6px;
}
.common-panel[aria-expanded="true"] .panel-img{
	background-image: url("../../img/close-btn-yellow.png");
	height: 15px;
	width: 15px;
	margin:0;
}
.common-panel .type-count
{
	padding: 0 6px;
	position: relative;
	font-size:.9em;
	letter-spacing: -0.2pt;
	font-weight: bold;
}
.common-panel[aria-expanded="true"] .type-count{
	color:#FFAA46;
}
.btn-show,
.btn-hide
{
	color: #1496BE;
	font-weight: bold;
	border-radius: 0;
	height: 37px;
	font-size: 0.9em;
	margin: 15px;
}
.btn-show span,
.btn-hide span{
	color:#FDB45D;
}

/* test tabs ends--> */

/********** test card starts ************/
.testItem {
    padding: 0;
    width: 100%;
    white-space: unset;
    border-radius: unset;
}
.testItem table > tbody > tr > td{
	padding: 10px;
}
.testItem > div {
    float: none;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    white-space: normal;
}
.testItem .report-tweek{
	line-height:3;
}
.testItem h3 {
    margin: 5px 0;
}
.testItem .TextDark {
    font-size: 1.1em;
}
.testItem .Percentage {
    height: 10px;
    border-radius: 15px;
    background-color: #E1EFF4;
    position: relative;
    margin-top: 8px;
}
.testItem .Percentage div {
    height: 10px;
    background: linear-gradient(to right, #777 , #008000);
    border-radius: 10px;
    position: absolute;
    left: 0;
}
.testItem .Percentage[data-nagative="true"] div {
	right: 0;
	left:auto;
	background: linear-gradient(to right, red , #777);
}
.testItem table > tbody > tr > td{
	padding: 5px 0px 0px 0px;
}
.testItem > div {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    white-space: normal;
    padding: 7px 10px;
}
.testItem div:nth-child(4){
	text-align: center;
	border-top: 1px solid #e8f1f4;
	color: #30B8E2;
	margin-top: 10px;
	padding:0px;
	text-transform: uppercase;
}
.testItem div:nth-child(4) > div{
	border-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.testItem div:nth-child(4) > div:nth-child(1){
	border-right: 1px solid #e8f1f4;
}
.testItem div:nth-child(4) > div:nth-child(2){
	border-right: 1px solid #e8f1f4;
}

.testItem.TStest.Card{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

.testItem .report-tweek{
	line-height:3;
}
.testItem h3 {
    margin: 5px 0;
}
.testItem .TextDark {
    font-size: 0.9em;
}
.testItem .Percentage[data-nagative="false"] span {
    height: 10px;
    background: linear-gradient(to right, #23C9F8 , #77E5A5);
    border-radius: 10px;
    position: absolute;
    left: 0;
}
.testItem .Percentage[data-nagative="true"] span {
	right: 0;
	background: linear-gradient(to right, red , #777);
	height: 10px;
    border-radius: 10px;
    position: absolute;
}
.testItem .H3Color{
    margin: 10px 0 0 0;
    color: #30B8E2;
    font-size:1.15em;
    font-weight: bold;
    letter-spacing: -0.3pt;
}
.testItem > div:nth-child(3) .testScore{
	padding-left: unset;
	padding-right: unset;
}
.testItem > div:nth-child(4) > div{
	font-size:.9em;
	font-weight:bold;
}
.testItem > div:nth-child(4) > table{
	width:100%;
}
.testItem > div:nth-child(4) > table  tr td {
	border: 1px solid #D3E5EA;
	border-bottom: unset;
	font-weight: bold;
	padding: 17px;
}
.testItem > div:nth-child(4) > table  tr td > div{
	letter-spacing: -0.2pt;
}
.testItem .TextDark{
	color: #374358;
}
.testItem .testData-brief{
	font-size:1.00em;
	width:100%;
}
.testItem .testData-brief tr> td > span:nth-child(2){
	color:#87A7AF;
	font-size: 0.9em;
}
.testItem .testAttemptCount{
	font-size: 0.9em;
	color:#2EBE70;
	padding-right: unset;
	padding-left: 0px;
}
.testItem .test-close{
	font-size: 0.9em;
	color: #F05E5E;
	padding: unset;
}
.testItem .test-close span{
padding-right: 10px;
}
.testItem .testcard-close{
	font-size:.9em
}
/********** test card ends ************/

/* <--videos css starts*/
.videos-container .collapse,
.videos-container .tab-pane{
	text-align:center;
}
.videos-container .tabList {
	position:absolute;
}
/*videoTab slider css*/
.videotabDiv{
	position:relative;
	height:52px;
}
.videoTabbtnleft, .videoTabbtnright {
    width: 19px;
    height: 40px;
    background-color: #30B8E2;
    text-align: center;
}
.videoTabbtnleft {
    left: 0px;
    position: absolute;
    z-index: 10;
}
.videoTabbtnright {
    position: absolute;
    right: 0px;
    z-index: 2;
}
.videoTabbtnleft img, .videoTabbtnright img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*videoTab slider css ends*/

/*videoTab content css starts*/

.video {
	width: 94%;
	max-width: 342px;
	display: inline-block;
	position: relative;
	margin: 9px;
	color: #2c3b47;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.25);
	text-align:left;
}
.preview img{
	margin-left: 39%;
	margin-top: 16%;
}
.video .buy-class p{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding: 7px 0px;
	text-decoration: none;
	font-size: 1.15em;
	border:2px;
	border: 2px solid #30B8E2;
}
.video .videobuy:hover{
	background:none;
	color: #30B8E2;
}
.video div:nth-child(2){
	font-size:.9em;
}
.video div:nth-child(2) .start-date{
	font-size: 1em;
	color: #87A7AF;
	margin-bottom: 18px;
	margin-top: -6px;
}
.video div:nth-child(2) .start-date span img {
    margin-right: 5px;
}
.video div:nth-child(2) p{
	color: #374358;
	font-weight: bold;
	font-size: 1.15em;
	margin-top: 10px;
}
.preview{
	position:relative;
	height: 161px;
	max-width: 322.46px;
	max-height: 161px;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
   }
.videooverlay{
	position: absolute;
	background: rgba(58,124,136,.86);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
/*videoTab content css ends*/

/* <-- Items not available Msg */
.not-available {
    text-align: center;
    padding: 20px 10px;
    margin: 15px;
    border: 1px dashed #e74c3c;
    color: #e74c3c;
}
/* Items not available Msg -->*/

/*<-- quick access starts*/
.examinfobody{
	margin: 0px 15px;
	padding: 5px 0px;
}
.examinfobody span{
	margin-left: 50%;
	color: #18a6e0;
	transform: translateX(-50%);
	text-align: center;
}
.modal.examinfoalert  .modal-content{
	border:none !important;
}
.infobutn {
    float: right;
    margin-right: 16px;
}
.examinfoalert .modal-footer{
	padding:0px;
}
.examinfoalert .modal-dialog{
	margin:0px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.examinfoalert .examinfomodal {
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal.examinfoalert{
	top:auto !important;
	height: 100%;
}
.infoclose {
    text-align: left;
    position: relative;
    bottom: 0;
    height: 45px;
    width: 100%;
	background-color: #30B8E2;
}
.infoclose img {
    margin-left: 28px;
    margin-right:18px;
    position:relative;
    top:-2px;
}
.infoclose span:last-child {
    font-size: 1.2em;
    color: #FFFFFF;
    font-weight: bold;
    margin-left:-7px;
	}
.infoclose span{
	position: relative;
	top: 12px;
}
.infoclose span > img{

}
.examinfobody span > img {
    padding: 5px 0px;
}
.examQuickAccessCard {
    padding-bottom: 17px;
    color:#374358;
	font-size:1.2em;
	margin: 10px 5px;
	border-bottom: 1px solid #D3E5EA;
}
.examInfoFullmodal-dialog{
    background-color: white;
	/*width: 100%;*/
	/*height: 100%;*/
	/*border: solid 20px grey;*/
}
.examInfoFullmodal-body iframe {
	width: 100%;
}
.examInfoFullmodal-body{
	margin-bottom: 10px;
	padding: 5% 5%;
	margin-top:65px;
}
.examInfoFullmodal-body h2,.examInfoFullmodal-body h2{
	color:#1496BE;
}
.examInfoFullmodal-content {
    overflow-y: auto;
    border-radius: 0px;
    box-shadow: none;
    height: 100%;
}
.examInfoFullmodal-content .modal-header{
	border-bottom: none;
	position:fixed;
	background-color: white;
	width: 100%;
	top:0;
	height:65px;
}
.examInfoFull-head{
	font-weight: normal;
	color: black;
	text-align: center;
	padding: 0;
	font-size: 16px;
	margin: 0px;
}
.examInfoFull-close{
	color: black;
	opacity: 1;
	font-size: 40px;
	font-weight: normal;
	margin-top: -23px !important;
	border: 0;
	background: 0 0;
	padding: 0;
}
/* quick access ends-->*/

/* Featured Article card CSS */
h4.featured-article-msg {
	font-weight: bold;
	font-size: 1.35em;
	margin: 30px 12px -6px 12px;
	letter-spacing: -0.5pt;
	padding: 15px 0;
}
.featuredArticleList {
	width: 100%;
	background-color: transparent;
	display: inline-flex;
	height: auto;
	text-decoration: none;
	flex-wrap: wrap;
	justify-content: space-around;
}
.featuredArticleList .carousel-indicators {
	bottom: -14px;
}

.featuredArticleList .featArticle {
	height: auto;
}

.featuredArticlePosition {
	margin: 0 auto;
	display: block;
	white-space: nowrap;
}
.featuredArticleCard {
	white-space: initial;
	margin-right: 15px;
	display: inline-table;
	width: 250px;
	overflow: hidden;
	background-color: white;
	height: 100px;
}
.featuredArticleCard img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	border-radius: 4px 4px 0px 0px;
}
.featuredArticleCard div {
	padding: 15px;
	min-height: 100px;
}
.featuredArticleCard div a {
	color: #4B5C60;
	font-size: 1.08em;
}
.featuredArticleCard div a:hover {
	text-decoration: none;
}
.featArticle > div > a > .thumbnail {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
	border: unset;
	border-radius: 0;
	margin-top: 10px;
}
.featArticle .item {
	padding-right: 9px;
	padding-left: 9px;
	width: auto;
	height: auto;
}
.thumbnail {
	padding: 10px;
}
.carousel-indicators li {
	background-color: #FFFFFF;
	border: 1px solid #C5CEDE;
	height: 8px;
	width: 8px;
	margin: 0px 2px;
}

.carousel-indicators .active {
	background-color: #FFAA46;
	border: 1px solid #FFAA46;
	height: 8px;
	width: 8px;
	margin: 0px 4px;
}
.featArticle .lazy {
	width:100%;
	min-height:150px;
}
.featArticle .thumbnail .caption {
	height: 75px;
	font-size: 1.15em;
	padding: 15px 0px;
}
/* Featured article CSS ends*/

/* common bottom modal starts*/
.bottom-modal{
	z-index:10001;
}
.bottom-modal .modal-dialog {
    bottom: 0;
    position: fixed;
    margin: 0;
}
.bottom-modal .modal-header{
	background-color: #374358;
	height: 50px;
	color: #fff;
	font-weight: bold;
	padding: 12px 15px;
	font-size: 1.2em;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}
.bottom-modal .modal-content{
	border: none;
}
.bottom-modal .modal-footer{
    text-align: left;
    height: 45px;
    background-color: #30B8E2;
    padding: 11px;
}
.bottom-modal .modal-footer img{
	margin: -5px 0 0 17px;
}
.bottom-modal .modal-footer span:last-child {
    font-size: 1.2em;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 11px;
}
/* common bottom modal ends */


/* View/Layout Top level CSS starts */
.view {
	overflow-x: hidden;
    box-sizing: border-box;
    position: absolute;
    overflow-y: auto;
    background: #fff;
    left: 0;
    width: 100%;
    /* 65px is the height of header */
    height: calc(100vh - 65px);
	bottom: 0px;
	top: 65px;
}
.controller-commonmenuController, .controller-commonheaderController,
.controller-commonsidemenuController{
	height:100%;
	top: 0px;
}
.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
/* View/Layout Top level CSS ends */


/* Song display modal CSS */
#songDisplayModal{
	height: 100%;
    overflow: auto;
    width: 100%;
}
#songDisplayModal .modal-dialog,#songDisplayModal .modal-dialog .modal-content{
	height: 100%;
    overflow: inherit;
    margin: 0px;
    border: solid 1px #e4e4e4;
}
#songDisplayModal .modal-header{
	padding: 20px;
}
#songDisplayModal .modal-header .modal-title{
	display: inline;
}
#songDisplayModal .modal-header span.close{
	font-size: 40px;
    margin: -20px -12px;
}
#songDisplayModal .song-text pre {
    white-space: unset;
    margin: 0em;
    background-color: unset;
    border: none;
    border-radius: unset;
    font-size: 0.85em;
	padding: 2px;
}
#songDisplayModal .modal-body{
	padding: 0px 15px;
}

/* Laura Dialog  CSS */
#song_dialog{
	overflow: auto;
    height: 100vh;
	z-index: 4;
}
#song_dialog .dialog__content{
	height: 100%;
    width: 100%;
    padding: 0px;
}
#song_dialog .dialog-inner, #song_dialog .dialog-inner .song-text{
	overflow: auto;
    height: inherit;
    text-align: left;
	padding: 20px;
	padding-bottom: 70px;
}
#song_dialog .dialog-inner{
    /* border: solid 4px #2b3063; */
}
#song_dialog .dialog-inner .song-text pre {
    white-space: unset;
    margin: 0em;
    background-color: unset;
    border: none;
    border-radius: unset;
    font-size: 0.85em;
	padding: 2px;
}
#song_dialog .dialog-inner .dialog-header{
	padding: 15px;
}
#song_dialog .dialog-inner .dialog-header .dialog-title{
	display: inline;
	color: #ff3e3e;
}
#song_dialog .dialog-inner .dialog-header span.action{
	float: right;
    font-size: 40px;
    color: #2b3063;
    margin-top: -37px;
    margin-right: -18px;
}
#song_dialog.isOpen .player_operation{
	display:flex;
}
#song_dialog .player_operation{
	display:none;
    position: absolute;
    background: #ccc;
    z-index: 5;
    bottom: 0;
    height: 75px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
	/* padding-left: 48px; */
	justify-content: space-around;
}

#song_dialog .player_operation .playerIcon,#song_dialog .player_operation .backIcon{
	display: flex;
    justify-content: center;
    border: 1px solid#393A54;
    width: 48px;
    height: 48px;
	border-radius: 5px;
	align-items: center;
}
#song_dialog .player_operation .playerIcon img{
	height: 20px;
}
#song_dialog .player_operation .backIcon{
	border: unset;
}
