#commoncontactusController{
	height: 100%;
    top: 0px;
}
.contact-details{
	display: flex;
    flex-direction: column;
}
.contact-details .head{
	padding: 30px 30px 0px;
}
.contact-details h4{
    font-size: 18px;
    color: #383953;
    margin-bottom: 7px;
    font-weight: bold;
}
.contact-details h5{
    font-size: 15x;
    color: #383953;
    margin-bottom: 7px;
    /* font-weight: bold; */
}
.contact-details .contacts{
	padding: 8px 30px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.contact-details .contacts .section1{
    padding-bottom: 5px;
}
.contact-details .contacts .item{
	/*border-bottom: solid 1px #E4E4E4;*/
	padding: 6px 0px;
}
.contact-details .contacts .item img{
    display: inline;
}
.contact-details .contacts .item h4{
	margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    display: inline;
}
.contact-line {
    width: 49%;
    min-height: 2px;
    background-color: #D6DCEA;
}
.view-contactus .page-head {
    background-image: url("../../img/about0img.png");
    height: 240px;
    object-fit: fill;
	z-index: 1;
}
.view-contactus #overlay{
	position: absolute;
    height: 240px;
    width: 100%;
    top: 0px;
    opacity: 0.5;
    /* background-image: linear-gradient(to right top, #12134b, #282870, #3e3e99, #5556c3, #6b70ef); */
    background: rgba(255,87,64,1);
    z-index: 2;
}
.view-contactus .content{
	position: absolute;
    height: 240px;
    width: 100%;
    top: 0px;
	z-index: 3;
}
.view-contactus .content .menu-icon1 img{
	position: relative;
    float: left;
    margin: 5px 5px 0 0px;
    padding: 14px 6px;
    padding-right: 8px;
}
.view-contactus .content .menu-icon1 span{
	color: white;
    display: inline-block;
    margin-top: 14px;
    font-size: 18px;
    margin-left: 3px;
}
.contacts a {
    color: #383953;
    font-weight: 300;
}
.contacts a:focus, .contacts a:hover {
	text-decoration: none;
}

.head .headertext{
    font-size: 16px;
    font-weight: bold;
    color: #FF5740;
}
.item.whatsapp span,
.item.confernece span{
    font-size: 14px;
    padding-left: 10px;
}