#commonsongController{
	background-color: white;
    height: 100%;
}
.song .song-text pre {
    white-space: unset;
    margin: 0em;
    font-size: 0.85em;
}
.song .song-text{
	padding: 10px;
    background-color: #e4e4e4;
}