#commonsonglistController{
	/* background-image:linear-gradient(to right top, #12134b, #282870, #3e3e99, #5556c3, #6b70ef); */
    background-image: linear-gradient(to right top, #FF5740, #FF3E3E);
    height: 100%;
	top: 0px;
	width: 100%;
	overflow-x: hidden;
}
.view-songlist{
	width: 100%;
	overflow-x: hidden;
}
.playsong h4{
	display: inline;
    margin-right: 12px;
	font-weight: bold;
	font-size: 16px;
}
.view-songlist .panel{
	border: none;
	border-radius: 0px;
	margin-top: 10px;
	box-shadow: none;
}
.view-songlist .page-head{
	background-position: center;
    background-repeat: no-repeat;
	background-size: 100%;
} 
.view-songlist .panel .panel-heading{
    background-color: transparent !important;
    border-radius: 0px;
    font-weight: bold;
    height: 40px;
    color: #FFF;
	padding: 10px 23px;
}


.view-songlist .panel .panel-heading span{
	float: right;
    font-size: 20px;
}
.view-songlist .panel .panel-heading span img{
	margin-top: -9px;
}
.view-songlist .panel .panel-heading .panel-title
{
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    display: inline;
    width: 100%;
    display: block;
}
.view-songlist .panel .panel-heading .panel-title a{
	width: inherit;
    display: block;
}
.view-songlist .panel .panel-body{
	/*padding: 10px 0px; */
    border: none;
}

.view-songlist .panel .panel-body .song_div {
    display: flex;
    height: 44px;
}
.view-songlist .panel .panel-body .playsong{
    padding: 10px 10px;
    margin-bottom: 10px;
    height: 29px;
    overflow: hidden;
	width: 90%;
}
.view-songlist .panel .panel-body .song_action{
	width: 10%;
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    
}
.view-songlist .panel .panel-body .playsong pre{
	background-color: white;
    border: none;
    border-radius: 0px;
    padding: 0px;
	display: inline;
	white-space: unset;
	font-size: 14px;
}
.view-songlist .panel .panel-body .bottom-border{
	height: 1px;
    display: block;
    width: 100%;
    background: #D6DCEA;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top-color: #fff;
    background: white;
    margin: 0px -15px 0px -15px;
}


.panel-group .panel {
    margin-bottom: 0;
    /* border-radius: 4px; */
    background-color: transparent;
    border-bottom: 1px solid #FFFFFF !important;
}



a:hover {
    text-decoration: none;
}

.view-songlist .page-head.view-songlist .page-head {
    /* background: linear-gradient(45deg, #EB5E14 0%, #F38615 50%, #FCB315 100%); */
    background-image: url(../../img/button/hindigeet.png);
    height: 136px;
    object-fit: fill;
}
.view-songlist .page-head .pageHeading{
	margin-bottom: 0px;
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    text-transform: uppercase;
}

.view-songlist .page-head {
    object-fit: fill;
	z-index: 1;
}
.view-songlist #overlay{
	position: absolute;
    height: 120px;
    width: 100%;
    top: 0px;
    opacity: 0.8;
    background: rgba(12,12,12,.77);
	z-index: 2;
}
.view-songlist .content{
	position: absolute;
    height: 120px;
    width: 100%;
    top: 0px;
	z-index: 3;
}
.view-songlist .content .menu-icon1 img{
	position: relative;
    float: left;
    margin: 5px 5px 0 0px;
    padding: 14px 6px;
    padding-right: 8px;
}
.view-songlist .content .menu-icon1 span{
	color: white;
    display: inline-block;
    margin-top: 14px;
    font-size: 18px;
    margin-left: 3px;
}
.song_div pre {
    font-family: Arial;
}
.collapsed[aria-expanded="true"] span img{
	transform: rotate(180deg);
}

.song_action[data-songpresent="false"] img[data-action="playsong"]{
    display: none;
}
.song_action[data-songpresent="true"] img[data-action="playsong"]{
    display: block;
}