<div class='view-contactus'>
	<div class="page-head row">
		
	</div>
	<div id='overlay'>
		
	</div>
	<div class='content'>
		<div class="menu-icon1 header-back-btn">
			<img src="img/back-button.svg"><span>Contact Us</span>
		</div>
	</div>
	<div class="contact-details">
		<div class='head'>
			<span class = "headertext">Christ Church Ministries</span>
		</div>
		<div class='contacts-section'>
			<div class="contacts">
				<div class="section1">
					<div class="item">
						<img src="img/email.svg">
						<h4><a href="mailto:christchurch.ministries@yahoo.com">christchurch.ministries@yahoo.com</a></h4>
					</div>
					<div class="item">
						<img src="img/web.svg">
						<h4><a href="https://www.christchurch.ind.in">www.christchurch.ind.in</a></h4>
					</div>
					<div class="item whatsapp">
						<img src="img/whatsapp.svg">
						<span> WhatsApp group</span>
					</div>
					<div class="item confernece">
						<img src="img/confernece.svg">
						<span>Conference call app</span>
					</div>
					<!-- js-playaudio -->
				</div>
			</div>
			<div class='contacts'>
				<h5 class='name'>Kuldeep Bharti</h5>
				<div class="section">
					<div class='item'>
						<img src="img/phone.svg"><h4><a href="tel:+91-9416221177">+91-9416221177</a>, <a href="tel:+91-9417221177 ">+91-9417221177</a></h4>
					</div>
				</div>
			</div>
			<div class='contacts'>
				<h5 class='name'>Hans Raj Saini</h5>
				<div class="section">
					<div class='item'>
						<img src="img/phone.svg"><h4><a href="tel:+91-9466068188">+91-9466068188</a>
					</div>
				</div>
			</div>

			<div class='contacts' style='margin-bottom: 20px;'>
				<h5 class='name'>Amit Bharti (tech)</h5>
				<div class="section">
					<div class='item'>
						<img src="img/phone.svg"><h4><a href="tel:+91-9041209208">+91-9041209208</a>, <a href="tel:+91-8360815597">+91-8360815597</a></h4>
					</div>
					<!--<div class='item'>
						<img src="img/web.svg"><h4>www.Christchurch.ind.in</h4>
					</div>-->
				</div>
			</div>
		</div>
	</div>
</div>