<div id="view-home" class="view-home">
	<div class='item-list'>
		<div class='category-listing'>
			<div class='heading'>
				<span>HINDI CATEGORY</span>
			</div>
			<div class='listing'>
				<div class='item odd' data-action='hindigeet' data-value='Hindi Songs'>
					
				</div>
				<div class='item even' data-action='hindichorus' data-value='Hindi Choruses'>
					
				</div>
			</div>
		</div>
		<div class='category-listing'>
			<div class='heading'>
				<span>ENGLISH CATEGORY</span>
			</div>
			<div class='listing'>
				<div class='item odd' data-action='englishgeet' data-value='English Songs'>
					
				</div>
				<div class='item even' data-action='englishchorus' data-value='English Choruses'>
					
				</div>
			</div>
		</div>
		<div class='category-listing'>
			<div class='heading'>
				<span>NEPALI CATEGORY</span>
			</div>
			<div class='listing'>
				<div class='item odd' data-action='nepaligeet' data-value='Nepali Songs'>
					
				</div>
				<div class='item even' data-action='nepalichorus' data-value='Nepali Choruses'>
					
				</div>
			</div>
		</div>
		<div class='category-listing'>
			<div class='heading'>
				<span>OTHER CATEGORY</span>
			</div>
			<div class='listing'>
				<div class='item odd' data-action='punjabigeet' data-value='Punjabi Songs'>
					
				</div>
				<div class='item even' data-action='othergeet' data-value='Other Songs'>
					
				</div>
			</div>
		</div>
	</div>	
</div>
