.dialog__overlay {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.dialog__content {
	background: transparent;
}

.morph-shape {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: -1;
}

.morph-shape svg {
	fill: #fff;
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.8,0,0.2,1);
	animation-timing-function: cubic-bezier(0.8,0,0.2,1);
}

.dialog.dialog--open .dialog__content {
	-webkit-animation-name: anim-open;
	animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
	-webkit-animation-name: anim-close;
	animation-name: anim-close;
}

@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: translate3d(0, calc(-50vh - 50%), 0) scale3d(0.3, 0.3, 1); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
}

@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: translate3d(0, calc(-50vh - 50%), 0) scale3d(0.3, 0.3, 1); transform: translate3d(0, calc(-50vh - 50%), 0) scale3d(0.3, 0.3, 1); }
	100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1); transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: translate3d(0, calc(50vh + 50%), 0); }
}

@keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: translate3d(0, calc(50vh + 50%), 0); transform: translate3d(0, calc(50vh + 50%), 0); }
}