.preloader {
    background-image: url("../img/splash/png/splash-1.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.preloader .content{
	position: absolute;
	bottom: 0px;
	color: #393A54;
	text-align: center;
	width: 100%;
	font-size: 10px;
}
.preloader .content h4{
	font-size: 12px;
	margin: 0px;
	color: #FF5740;
}
.preloader .content h4.head{
	font-weight:bold;
}
.preloader .content h4.mobno{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #FF5740;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
    overflow-y:hidden;
}

/* Portrait layout (default) */
body{
	height: 100vh;
	width: 100vw;
    margin: 0px;
}
.alert:empty {
    display: none;
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
 
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
 
.page.transition {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

#app .jumbotron {
    padding: 0 25px;
    margin: 0;
    text-align: center;
    background: #FFF;
}
#app .jumbotron .Plogo
{
	margin-bottom:15px;
}
#app .jumbotron p{
    font-size: 12px;
}
#app .jumbotron p.contactinfo
{
	font-size:13px;
	line-height:20px;
	margin-top:8px;
}
#app .grid button
{
    border-radius: 0;
    min-height: 40px;
    /* border: 1px solid #000; Will introduce double border*/
    /* use box shadow insted*/
    border: none;
    box-shadow: 
    1px 0 0 0 #FFF, 
    0 1px 0 0 #FFF, 
    1px 1px 0 0 #FFF,   /* Just to fix the corner */
    1px 0 0 0 #FFF inset, 
    0 1px 0 0 #FFF inset;
}
.btn.btn-default.btn-home
{
	background:#f0f0f0;
	color: #000000;
	background-repeat:no-repeat;
	background-position:50% 25%;
}
#app #btn_home_about,#app #btn_home_chat{background-color:#013f7c;}
#app .feature_title {
    position: relative;
    right: 0;
    top: 3px;
    text-align:left;
}
#app .sub_title {
    color: #d5d5d5;
    font-size:12px;
    font-weight: 600;
}
.btn.btn-link.arrow
{
	color:#d99504;
}
#app-updater 
{
    background: rgba(1, 1, 1, 0.7) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display:none;
}
#app-updater .Loader{
	background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 34%;
    margin:unset;
    width: 90%;
	margin-left: 5%;
}
#app-updater .Loader img {
    background-color: transparent;
    position: absolute;
    top: 40%;
    margin: auto;
    transform: scale(0.6, 0.6) translate(-80%,-75%);
    width: 100px;
    height: 100px;
}
#app-updater .Loader .alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 78px;
    background-color: unset;
}
.contact .label-heading
{
	padding:8px 5px;
	background:#f1eff0;
	color: #D42437;
}
.contact .label-heading,
.contact p.contactinfo
{
	text-align: left;
}
.contact .sub-groupcontct
{
	width:100%;
	display:table;
}
.contact p.contactinfo
{
	float: left;
	display:inline-block;
	width:50%;
	color:#484848;
	font-weight:600;
	padding:0px 5px;
}

/*Version check css*/
.VersionCheck{
    background:rgba(0,0,0,.5);
    cursor:pointer;
    display:none; 
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}

.VersionCheck .VersionCheckhelper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.VersionCheck > div {
    background-color: #fff;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: 80%;
    position: relative;
    padding: 64px 20px;
    border:3px solid #3069AF;
}
.VersionCheck div a button{
	padding-bottom: 10px;
    width: 30%;
}
#app-updater .Loader .Percentage[data-nagative="false"] span {
    height: 10px;
    background: linear-gradient(to right, #23C9F8 , #77E5A5);
    border-radius: 10px;
    position: absolute;
    left: 0;
    transition: width 2s;
}

#app-updater .Loader .Percentage {
    height: 10px;
    border-radius: 15px;
    background-color: #E1EFF4;
    position: relative;
    margin-top: 8px;
}

/* Bootstrap modal customize */
.modalholder{
	margin: 30px 25px;
}
.modal .modal-header
{
	border-bottom:none;
	background-color: white;
	padding: 0px 7px 5px 7px;
}

.modal .modal-title
{
	color:#3069AF;
	font-weight:bold;
}
.modal .close
{
	opacity:1;
	font-size:30px;
	font-weight:normal;
	color:#30B8E2;
}

.modal .modal-content
{
	border-radius:0px;
	box-shadow: none;
	color:#000;
}
.modal .modal-footer
{
	text-align:center;
	border-top:none;
}
/********** online-offline starts**********/
.online,
.offline{
	bottom: -25px;
	position: fixed;
	width: 100%;
	text-align: center;
	height: 25px;
	padding: 3px;
	/*display:none;*/
  	transition: visibility 0s, opacity 0.5s linear;
  	overflow: hidden;
  	transition: all 1s;
}
.online{
	background-color: #0c0;
	color:#fff;
	z-index:10001;
}
.offline{
	background-color: #f00;
	color:#fff;
	z-index: 10001;
}
.online .dismiss-msg, .offline .dismiss-msg{
	display: inline;
	right: 10px;
	position: absolute;
}
.online .dismiss-msg img, .offline .dismiss-msg img{
	transform: scale(0.7,0.7);
}
.showPatti{
	bottom:0;  
	transition: all 1s;
}
/********** online-offline ends**********/
.scroll-x{
	overflow-x: auto;
	display: inline-block;
	overflow-y:hidden;
	vertical-align: middle;
	padding-bottom:10px;
}
.scroll-x::-webkit-scrollbar {
  width: 8px;
	height:8px;
}
.scroll-x::-webkit-scrollbar-track {
  background: #ddd;
}
.scroll-x::-webkit-scrollbar-thumb {
  background: #666;
}
/*Song Audio play modal CSS*/
.song_audio_play .modal-header{
	border:none;
}
.song_audio_play .modal-content{
	border: none;
    border-top: #E4E4E4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.song_audio_play .modal-header button{
	opacity:1;
}

.song_audio_play .modal-title{
	/* font-weight: bold; */
	text-align: center;
	padding: 0px 0px 10px 0px;
}
.song_audio_play .modal-title .minimize-option{
    margin-bottom: 15px;
}
.song_audio_play .modal-title h5.song-title{
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	color: #000000;
}
.song_audio_play .modal-body > div {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 26px;
    cursor:pointer;
}
.song_audio_play .modal-body > div:hover {
	color:#FFAA46;
}
.song_audio_play .modal-body > div > img {
    border-radius: 50%;
    margin-right: 15px;
}
.song_audio_play .modal-dialog{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: unset;
}


#song_audio_play
{
	background-color: rgba(1, 1, 1, 0.45);
}

.song_audio_play .controls {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    height: 20px;
    align-items: center;
}
.song_audio_play .controls .control {
    border: none;
    background-color: #FFFFFF;
    padding: 0px;
    outline: none;
}
.song_audio_play .controls .control.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.song_audio_play .controls button.control img{
	margin-top: -4px;
}
.song_audio_play .modal-body .container{
	padding-bottom: 15px;
}
.song_audio_play .songDuration{
	display: flex;
    justify-content: space-between;
    font-weight: normal;
    color: #000000;
    font-size: 10px;
    padding-bottom: 4px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 100px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #FDB615;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #FDB615;
  cursor: pointer;
}

/* Song Audio Play Minimize Modal CSS starts */
.song_audio_play.minimize .modal-body{
    padding: 0px;
    padding-top: 10px;
}
.song_audio_play.minimize .modal-body .container.minimizedDiv {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    margin-top: -10px;
}
.song_audio_play.minimize{
	position: unset;
}
.song_audio_play.minimize .modal-title {
    padding: 0px;
}
.song_audio_play.minimize .controls {
    width: unset;
    margin: 10px 0px;
}
/* Song Audio Play Minimize Modal CSS ends */

.minimizedDiv .song-title{
    width: 216px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
#song_audio_play .minimizedDiv .controls{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
#song_audio_play .minimizedDiv .control.playPause img{
    background: unset;
    border: unset;
    padding: unset;
    border-radius: unset;
}
#song_audio_play .modal-content{
    box-shadow: 0px -6px 10px rgba(107, 104, 104, 0.75)
}

#song_audio_play .control.playPause img{
	padding: 15px;
	border: 1px solid #AA98D280;
	border-radius: 5px;
}

#song_audio_play .control.playPause img[songplaying="true"]{
	background: #FF5740;
}
#song_audio_play .minimize-option img{
	margin-top: 10px;
}
.song_audio_play .modalheading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.song_audio_play .song-title.normalDiv {
    width: 248px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
#song_audio_play.minimize .minimize-option img{
    transform: rotate(180deg);
    display: none;
}
/* Slider Css*/
.boxslider {
  width: 100%;
  position: relative;
}

#newSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background-color: #DFF1FE;
  outline: none;
  cursor: pointer;
}

#newSlider::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
/*   background-color: rgb(243, 12, 12); */
  background-image: url("../img/Songplay/player_pointer.svg");
  border-radius: 50%; 
  -webkit-appearance: none;
  position: relative;
  z-index: 5;
  cursor: pointer;
  left:-2px;
}

.progressslider {
  width: 10px;
  height: 2px;
  background-color: rgb(224, 84, 91);
  position: absolute;
  top: 0px;
  left: 0;
  pointer-events: none;
}
/* Progress bar css */

/*


var range2 = $("#newSlider");
var progressBar2 = $(".progressslider");
$(range2).on("input change", function() {
  progressBar2.css("width", $(this).val() + "%");
	console.log(this)
  $(this).text($(this).val() + "%");
});
<div class="boxslider">
  <input type="range" id="newSlider" min="0" max="100" value="5">
  <div class="progressslider"></div>
</div>

*/